venv/
__pycache__/
*.log
.vscode/
.streamlit/secrets.toml
# Ignorar logs de consulta JSON
*.json
assessoriacondignado/assessoriaconsignado-meu_projeto_python/assessoriaconsignado-meu_projeto_python-cfaa1ac0e2035e9fd543e9ea8d002a38575c300e/CONEXÕES/JSON/